h1 Hello
p this is is the forum page!!


form.form-horizontal(ng-submit="addCat()", name="addCatForm")
    .control-group
        label.control-label(for="name") name
        .controls
            input(type="text", data-ng-model="name", placeholder="name", name="name", required, data-ng-minlength="1", data-ng-maxlength="20", autofocus)
    .control-group
        label.control-label(for="description") description
        .controls
            input(type="text", data-ng-model="description", placeholder="description", name="description", required, data-ng-minlength="5", data-ng-maxlength="60")
    .control-group
        .controls
            button.btn(type="submit", data-ng-disabled="addCatForm.$invalid") Submit

    .alert.alert-error(ng-show="addCatForm.$invalid && addCatForm.$dirty")
        strong Please correct the following errors:
        ul
            li(ng-show="addCatForm.name.$error.required") name is required
            li(ng-show="addCatForm.name.$error.minlength") name has to be at least 1 character long
            li(ng-show="addCatForm.name.$error.maxlength") name has to be at most 20 character long
            li(ng-show="addCatForm.password.$error.required") Password is required
            li(ng-show="addCatForm.password.$error.minlength") Password must be at least 5 characters long
            li(ng-show="addCatForm.password.$error.maxlength") Password must be at most 60 characters long

table.table.table-striped(data-ng-hide="loading")
    thead
        tr
            th name
            th description
    tbody
        tr(data-ng-repeat="cat in categories")
            td {{ cat.cat_name }}
            td {{ cat.cat_description }}