h1 See Places

table.table.table-striped(data-ng-hide="loading")
    thead
        tr
            th name
            th lat
            th long
    tbody
        tr(data-ng-repeat="place in places")
            td {{ place.name }}
            td {{ place.location.coordinates[0] }}
            td {{ place.location.coordinates[1] }}

leaflet(center='columbus', markers="markers", width='640', height='400')