h1 See Places

table.table.table-striped(data-ng-hide="loading")
    thead
        tr
            th name
            th lat
            th long
    tbody
        tr
            td {{ places.name }}
            td {{ places.location.coordinates[0] }}
            td {{ places.location.coordinates[1] }}